<div class="leagues" ng-class="{hidden: hide, show: show}" ng-controller="BetCreationController as bet">
	<div class="list-group">
		<a href="#" class="list-group-item" ng-click="bet.showGames('basketball','nba')">NBA</a>
		<a href="#" class="list-group-item" ng-click="bet.showGames('hockey','nhl')">NHL</a>
		<a href="#" class="list-group-item" ng-click="bet.showGames('football','nfl')">NFL</a>
		<a href="#" class="list-group-item" ng-click="bet.showGames('baseball','mlb')">MLB</a>
		<a href="#" class="list-group-item">EPL</a>
		<a href="#" class="list-group-item">La Liga</a>
		<a href="#" class="list-group-item">Bundesliga</a>
		<a href="#" class="list-group-item">Seria A</a>
	</div>

	<div class="fixtures">
		<h3>Upcoming games</h3>
	
		<div class="fixture" ng-repeat="game in bet.games | orderBy:'timestamp'">
			<a href="#" ng-click="bet.showDetails(game)">{{game.name}}</a>

			<!-- Hidden Section -->
			<div class="fixture_details" ng-show="bet.showing == game.id && bet.details == true">
				Extra actionable stuff goes here
			</div>
		</div>
	</div>
	
</div>